.WeatherForecast {
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast-temperature-max {
  margin-left: 12px;
}
.WeatherForecast-day-name {
  margin-left: 14px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: gray;
  box-shadow: 3px 7px 7px rgb(152, 213, 248);
}

.WeatherForecast-day {
  text-align: center;
}
